@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  font-family: system-ui;

  touch-action: manipulation;
}

html {
  color-scheme: light dark;
}

body {
  position: relative;
  padding: 0 10px;
  padding-bottom: 2rem;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: hsl(0 0% 6%);
}

body::before {
  --line: hsl(0 0% 95% / 0.15);
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 0 -5vmin /
      10vmin 10vmin,
    linear-gradient(var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin;
  mask: linear-gradient(0deg, transparent 30%, white);
  top: 0;
  z-index: -1;
  transform: translate3d(0, 0, -100vmin);
}

.calculator {
  width: 100%;
  /* max-width: 400px; */
  /* min-height: 600px; */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  padding-bottom: 30px;
}

.calculator__result {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.02);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
  min-height: 200px;
  transition: all 0.2s ease-in-out;
}

.screen {
  font-size: 4rem;
  color: #fff;
  font-weight: normal;
  margin: 0;
  max-width: 100%;
  overflow-wrap: break-word;
  line-height: 1;
  text-align: right;
  transition: all 0.2s ease-in-out;
}

.btn {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  outline: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  font-family: 'Poppins';
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.btn:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn--orange {
  background-color: hsla(36, 100%, 52%);
}

.btn--orange:active {
  background-color: rgb(255, 211, 144);
}

.btn--grey {
  background-color: rgba(165, 165, 165);
  color: #222;
}

.btn--grey:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.calculator__buttons {
  padding: 20px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn--bigContainer {
  position: relative;
}

.btn--big {
  position: absolute;
  width: calc(200% + 10px);
  height: 100%;
  border-radius: 82.5px;
  text-align: left;
  padding-left: 40%;
  justify-content: flex-start;
}

.active {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(255, 154, 0, 0.7);
}

.plus-minus-img {
  height: 2rem;
}

footer {
  box-sizing: border-box;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}

footer a {
  color: rgba(255, 255, 255, 0.5);
  fill: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: 0.15s;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
}

@media screen and (width < 300px) {
  html {
    font-size: 16px;
  }

  .btn--big {
    padding-left: 40%;
  }
}

@media screen and (width >= 300px) {
  html {
    font-size: 16px;
  }
}

@media screen and (width >= 350px) {
  html {
    font-size: 18px;
  }
}

@media screen and (width <= 430px) {
  body {
    padding: 0;
    padding-bottom: 80px;
    background-image: none;
    background-color: #000;
  }
  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0;
    min-height: 100dvh;
    max-height: 760px;
    box-shadow: none;
    background-color: transparent;
  }
  .background {
    display: none;
  }
  .calculator__result {
    min-height: auto;
    background-color: transparent;
  }
}

@media screen and (width > 400px) {
  html {
    font-size: 20px;
  }
}

@media screen and (width > 430px) {
  /* html {
    font-size: 14px;
  } */
  .calculator {
    max-width: 430px;
  }
}
